{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}


{% block content %}
    <div class="container mt-5">
        {% if user.is_authenticated %}
            {% if user.is_staff %}

            <div class= 'row text-left poll-container' >
                {% include  "check/list.html"  %}
            </div>
                
                <div class= 'row text-left poll-container' >
                    {% include  "check/list.html"%}
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-group">
                            {% for sort in sorts %}
                                <li class="list-group-item">
                                    <a href="?sort={{ sort.0 }}" style="color: #00ccff;">{{ sort.1 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                
        
                <div class="text-center mt-4">
                    <button id="show-more" class="btn btn-primary" onclick="showMore()">Show More</button>
                </div>
        
                <input type="hidden" id="page-cure" value="1">
                <input type="hidden" id="page-num" value="{{ total_pages }}"> 
                {% endif %}
        {%else%}
        <div class="row justify-content-center">
            <div class="col-md-4 mb-2">
                <div class="card" style="border: 2px solid #00ccff;">
                    <div class="card-body">
                        <h5 class="text-center">You need to login to use this page</h5>
                        <br>
                        <a class="btn btn-primary" href="{% url "login" %}">
                            Log in
                        </a>
                        <a class="btn btn-info" href="{% url "signup" %}">
                            Sign Up
                        </a>

                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        {% endif %}
        
    </div>
{% endblock %}