{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'language-create' %}" class="btn btn-primary">+</a>
                <br>
                <br>
            {% endif %}
        {% endif %}
        
        <div class='row text-left poll-container'>
            {% include "language/list.html" %}
        </div>

    </div>


{% endblock %}