{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-white">
                        <h2 class="mb-0">Your check:</h2>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                {% if check.id_client %}
                                <span style="width: 5rem;"
                                class="text-bg-info"
                                >Client: {{ check.id_client }}</span>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if check.id_table.name %}
                                <span style="width: 5rem;"
                                class="text-bg-info"
                                >Table: {{ check.id_table.name }}</span>
                                {% endif %}
                            </div>
                        </div>

                            
                        <div class="col-md-4">
                            <p class="mb-0">Status:</p>
                            <span style="width: 5rem;"
                                {% if check.status == 'Paid' %} class="badge text-bg-primary" {% endif %}
                                {% if check.status == 'In process' %} class="badge text-bg-secondary" {% endif %}
                                
                                >{{ check.status }}</span>
                        </div>
                        <div class="col-md-4">
                            <br>
                            {% if calculate_price %}
                                <h5 class="card-text" style="color: #123E65;">Price: ${{ calculate_price.total }}</h5>
                            {% else %}
                                <h5 class="card-text" style="color: #123E65;">Price: Not available</h5>
                            {% endif %}
                        </div>
                            

                        <br>
                        <div class="d-flex justify-content-end">
                            <div class="btn-group">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                    
                                        <a href="{% url "check-update" check.id%}" class="btn btn-sm btn-primary">Edit</a>
                                        <a href="{% url "check-delete" check.id%}" class="btn btn-sm btn-secondary">Delete</a>
                                    {%endif%}
                                {%endif%}
                            </div>
                        </div> 
                    </div>
                </div>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}